

p{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    display: inline;
}
a{
    text-decoration: none;
    color: green;
    padding: 3px;
    width: 160px;
    background-color: #f7f8e8;
    text-align: center;
    border: 1px solid #eeeeee;

}
a:visited{
    color:red;
}
a:hover{
    color: #336699;
    background-color: pink;
}
a:active{
    color: white;
    background-color: #336699;
}

